---

- name: Stop unneeded services
  tags:
  - service
  service:
    name: "{{ item }}"
    state: stopped
    enabled: no
  loop: "{{ services_stop }}"

- name: Set standard APT sources
  tags:
  - apt
  template:
    src: debian.sources.j2
    dest: /etc/apt/sources.list.d/debian.sources

- name: Update APT cache
  tags:
  - apt
  apt:
    update_cache: yes

- name: Install packages
  tags:
  - package
  package:
    name: "{{ lookup('community.general.merge_variables', '^pkgs_install_?') }}"

- name: Clean unneeded packages
  tags:
  - package
  package:
    name: "{{ pkgs_remove }}"
    state: absent
    purge: yes

